.DS_Store
backend/.env
backend/.venv/
backend/**/__pycache__/
supabase-config.local.js
supabase-config.worker.js
supabase-config.js
.vercel/
.vercel
.env*
node_modules/
test-results/
playwright-report/
*.jpg
b0549e411365d268176a42378e817a49.jpg
